# Dependencies
node_modules/
client/node_modules/
server/node_modules/
frontend/node_modules/

# Environment and Secrets
.env
server/.env
*.pem

# Build outputs
dist/
client/dist/
frontend/dist/
server/dist/
.expo/
client/.expo/
build/
web-build/

# Logs
*.log
server/*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System files
.DS_Store
Thumbs.db
.vscode/
.idea/
